
:root {
  --z-index-dialog: 2;
  --toolbar-height: 50px;
  --dialog-padding: 15px;
  --black: #000;
  --blue-100: #51b3f7;
  --blue-200: #357aaa;
  --blue-300: #2c7fea;
  --blue-400: #1847d4;
  --dark-mode-black: #121212;
  --dark-mode-white: #c9d1d9;
  --default-accent-color-dark: #0c2d6b;
  --default-border-dark: #575757;
  --default-border-light: #aeaeae;
  --default-tinted: rgba(128, 128, 144, 0.125);
  --green-100: #26aa55;
  --green-300: #7cef99;
  --green-400: #67c87f;
  --green-500: #34dc70;
  --grey: rgba(128, 128, 130, 0.66);
  --grey-200: #e1e4e8;
  --grey-40: #666;
  --grey-500: #828282;
  --grey-900: #191919;
  --nice-grey: #f8f8f8;
  --red-500: #d73a49;
  --white: #fff;
  --yellow-300: #ffea7f;
  --progress: 100%;
  --icon-size: 32px;
  --color-bg-even: var(--default-tinted);
  --color-bg-tabs: var(--default-tinted);
  --color-fg-error: var(--red-500);
  --color-fg-port-closed: var(--red-500);
  --color-fg-port-open: var(--green-100);
  --color-progressbar-background-2: var(--green-400);
  --color-progressbar-leech: var(--blue-200);
  --color-progressbar-magnet: var(--yellow-300);
  --color-progressbar-paused: var(--grey-200);
  --color-progressbar-queued: var(--blue-400);
  --color-progressbar-verify: var(--yellow-300);
  --color-toolbar-background: var(--default-tinted);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-hover: var(--grey-40);
    --color-bg-odd: var(--black);
    --color-bg-popup: var(--black);
    --color-bg-primary: var(--black);
    --color-bg-selected: var(--default-accent-color-dark);
    --color-bg-warn: #cf6679;
    --color-border-default: var(--default-border-dark);
    --color-border-stark: var(--dark-mode-white);
    --color-border-starkest: var(--grey-500);
    --color-fg-disabled: var(--grey);
    --color-fg-on-popup: var(--nice-grey);
    --color-fg-primary: var(--dark-mode-white);
    --color-fg-secondary: var(--nice-grey);
    --color-fg-selected: var(--dark-mode-white);
    --color-fg-tertiary: var(--grey-500);
    --color-fg-warn: var(--dark-mode-black);
    --color-progressbar-fg-1: #edefff;
    --color-progressbar-fg-2: #edefff;
    --color-progressbar-fg-3: #edefff;
    --color-progressbar-paused: var(--grey-500);
    --color-progressbar-seed-1: var(--green-100);
    --color-progressbar-seed-2: var(--green-400);
    --color-progressbar-seed-paused: var(--grey-500);
    --progress-bar-shadow-1: 1px 1px #000;
    --progress-bar-shadow-2: 1px 1px #000;
    --progress-bar-shadow-3: 1px 1px #000;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-hover: var(--nice-grey);
    --color-bg-odd: var(--white);
    --color-bg-popup: var(--white);
    --color-bg-primary: var(--white);
    --color-bg-selected: var(--blue-300);
    --color-bg-warn: #e4606d5b;
    --color-border-default: var(--default-border-light);
    --color-border-stark: var(--grey-500);
    --color-border-starkest: #d0d7de;
    --color-dialog-border: var(--nice-grey);
    --color-fg-disabled: var(--grey);
    --color-fg-error: var(--red-500);
    --color-fg-on-popup: var(--grey-900);
    --color-fg-port-closed: var(--red-500);
    --color-fg-port-open: var(--green-400);
    --color-fg-primary: #404040;
    --color-fg-secondary: var(--grey-500);
    --color-fg-selected: var(--nice-grey);
    --color-fg-tertiary: var(--grey-500);
    --color-fg-warn: #cf212e;
    --color-progressbar-fg-1: #303030;
    --color-progressbar-fg-2: #edefff;
    --color-progressbar-fg-3: #edefff;
    --color-progressbar-leech: var(--blue-100);
    --color-progressbar-magnet: var(--yellow-300);
    --color-progressbar-paused: var(--grey-200);
    --color-progressbar-queued: var(--blue-400);
    --color-progressbar-seed-1: var(--green-500);
    --color-progressbar-seed-2: var(--green-300);
    --color-progressbar-seed-paused: var(--grey-200);
    --color-progressbar-verify: var(--yellow-300);
    --progress-bar-shadow-1: 0;
    --progress-bar-shadow-2: 1px 1px #000;
    --progress-bar-shadow-3: 1px 1px #000;
  }
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);
  font-family: Helvetica, Arial;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.toolbar {
  justify-content: center;
  align-items: center;
  background: var(--color-toolbar-background);
  border-bottom: 1px solid var(--color-border-default);
  display: flex;
  flex-direction: row;
  height: var(--toolbar-height);
  width: 100%;
}

.toolbar .flexible-space {
  min-width: 12px;
  max-width: 24px;
}

.toolbar .button {
  width: var(--toolbar-height);
  height: var(--toolbar-height);
  background-color: transparent;
  border: 0;
  user-select: none;
}

.toolbar .button svg.svg-off {
  display: inline;
}

.toolbar .button svg.svg-on {
  display: none;
}

.toolbar .button.on svg.svg-off {
  display: none;
}

.toolbar .button.on svg.svg-on {
  display: inline;
}

.toolbar .button:disabled {
  cursor: default;
}

.toolbar .button:disabled svg {
  stroke: var(--color-fg-disabled);
}

.toolbar .button:enabled {
  cursor: pointer;
}

.toolbar .button:enabled svg {
  stroke: var(--color-fg-primary);
}

.statusbar {
  height: 30px;
  background: var(--color-toolbar-background);
  border-bottom: 1px solid var(--color-border-default);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.statusbar .flexible-space {
  min-width: 12px;
  max-width: 24px;
}

.statusbar .down {
  fill: var(--color-fg-primary);
}

.statusbar .down svg {
  width: 20px;
}

.statusbar .speed-down {
  align-content: center;
  user-select: none;
}

.statusbar .up {
  fill: var(--color-fg-primary);
}

.statusbar .up svg {
  width: 20px;
}

.statusbar .speed-up {
  align-content: center;
  user-select: none;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: auto;
}

.torrents {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.torrents .torrent {
  display: grid;
  grid-column-gap: 12px;
  grid-template-areas: "name labels" "peers peers" "progressbar progressbar" "progress-text progress-text";
  align-items: center;
  border-bottom: 1px solid var(--color-border-default);
  padding: 6px 12px;
}

.torrents .torrent:nth-child(even) {
  background-color: var(--color-bg-even);
}

.torrents .torrent:nth-child(odd) {
  background-color: var(--color-bg-odd);
}

.torrents .torrent .torrent-name {
  font-weight: normal;
  grid-area: name;
  margin-bottom: 2px;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.torrents .torrent .torrent-peer-details {
  grid-area: peers;
  font-size: small;
}

.torrents .torrent .torrent-progress-bar {
  grid-area: progressbar;
  display: flex;
  flex-direction: row;
}

.torrents .torrent .torrent-progress-details {
  grid-area: progress-text;
  font-size: small;
}

.torrents .torrent .torrent-progress-details.error {
  color: var(--color-fg-error);
}

.torrents .torrent.paused {
  color: var(--color-fg-disabled);
}

.torrents .torrent.paused:not(.selected) .torrent-progress-bar {
  color: var(--color-fg-primary);
}

.torrents .torrent.paused .icon {
  background-color: var(--color-fg-disabled);
}

.torrents .torrent.selected {
  background-color: var(--color-bg-selected);
  color: var(--color-fg-selected);
}

.torrents .torrent.selected .icon {
  background-color: var(--color-fg-selected);
}

.torrents .torrent-progress-bar {
  font-size: 14px;
  position: relative;
  border: 1px solid var(--color-border-starkest);
  border-radius: 3px;
  height: 3px;
}

.torrents .torrent-progress-bar:not(.compact) {
  flex-grow: 1;
  margin: 2px 0;
}

.torrents .torrent-progress-bar.leech.queued::before {
  background: var(--color-progressbar-queued);
}

.torrents .torrent-progress-bar.leech::before {
  background: var(--color-progressbar-leech);
  color: var(--color-progressbar-fg-2);
  text-shadow: var(--progress-bar-shadow-2);
}

.torrents .torrent-progress-bar.magnet::before {
  background: var(--color-progressbar-magnet);
  color: #000;
}

.torrents .torrent-progress-bar.seed.paused::before {
  background: var(--color-progressbar-seed-paused);
  color: var(--color-progressbar-fg-1);
  text-shadow: var(--progress-bar-shadow-1);
}

.torrents .torrent-progress-bar.seed:not(.paused)::before {
  background: var(--color-progressbar-seed-1);
  color: var(--color-progressbar-fg-2);
  text-shadow: var(--progress-bar-shadow-2);
}

.torrents .torrent-progress-bar.seed:not(.paused)::after {
  background: var(--color-progressbar-seed-2);
  color: var(--color-progressbar-fg-3);
  text-shadow: var(--progress-bar-shadow-3);
}

.torrents .torrent-progress-bar.seed.queued::before {
  background-color: var(--color-progressbar-seed-1);
}

.torrents .torrent-progress-bar.seed::before {
  background-color: var(--color-progressbar-seed-1);
  color: var(--color-progressbar-fg-2);
  text-shadow: var(--progress-bar-shadow-2);
}

.torrents .torrent-progress-bar.verify::before {
  background: var(--color-progressbar-verify);
  color: #000;
}

.torrents .torrent-progress-bar.paused::before {
  background: var(--color-progressbar-paused);
  color: var(--color-progressbar-fg-1);
  text-shadow: var(--progress-bar-shadow-1);
}

.torrents .torrent-progress-bar::before {
  content: attr(data-progress);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  text-align: center;
  clip-path: polygon(0 0, var(--progress, 30%) 0, var(--progress, 30%) 100%, 0 100%);
}

.torrents .torrent-progress-bar::after {
  content: attr(data-progress);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  text-align: center;
  clip-path: polygon(var(--progress, 30%) 0, 100% 0, 100% 100%, var(--progress, 30%) 100%);
}
